{% extends 'base.html' %}
{% block content %}
<div class='index-content'>
    	<h1>YouTube Data Insights</h1>
	</br>
    </div>
   <div class="first-half">
    <div class="useful-notes-with-animation">
      <div class="text-beside-im">
	<div class='index-content'>
          <p>Ever wondered what makes a great thumbnail on YouTube?</p>
	  <div class='links'>
            <div class='link-to-data'> 
	      <a href="{{ url_for('thumbnail_data') }}">Learn how to make great thumbnails &#129054;</a>
	    </div>
          </div>
        </div>
      </div>

      <div class="inside">
        <div style="padding-top: 0.6rem;">Some random thumbnails from the dataset</div>
        
		<div class="slideshow-container">
	
          	<div class="mySlides fade">
        	    <img src="/static/images/0e3GPea1Tyg-faced.jpg" style="width:100%">
          	</div>
         	 <div class="mySlides fade">
            		<img src="/static/images/_9N3kFyIXKU-faced.jpg" style="width:100%">
          	</div>
          	<div class="mySlides fade">
            	<img src="/static/images/0SYKA00eFWY.jpg" style="width:100%">
          	</div>  
	</div>
        <br>

        <div style="text-align:center">
          <span class="dot"></span>
          <span class="dot"></span>
          <span class="dot"></span>
        </div>
      
      </div>
    </div>
  </div>

  <div class="second-half">
    <div class="useful-notes-with-animation">
      <div class="text-beside-im">
        <div class='index-content'>
          <p>Ever wondered what makes a great YouTube title?</p>
          <div class='links'>
            <div class='link-to-data'>
              <a href="{{ url_for('select_how_many_words') }}">Learn how to make great titles &#129054;</a>
            </div>
          </div>
        </div>
      </div>

      <div class="inside">
        <div style="padding-top: 0.6rem;">Some Examples of what you could learn</div>

                <div class="slideshow-container">

                <div class="mySlides1 fade">
                    <img src="/static/images/blurred_most_common_words.png" style="width:100%">
		    <div class="text">Want to know the words that appear on trending the most?</div>
                </div>
                 <div class="mySlides1 fade">
                        <img src="/static/images/blurred_most_viewed_words.png" style="width:100%">
			<div class="text">Want to know what words get the most views on trending?</div>
                </div>
                <div class="mySlides1 fade">
                <img src="/static/images/blurred_outliers.png" style="width:100%">
		<div class="text">What do outlier videos have in common?</div>
                </div>
        </div>
        <br>

        <div style="text-align:center">
          <span class="dot1"></span>
          <span class="dot1"></span>
          <span class="dot1"></span>
        </div>

      </div>
    </div>
  </div>
    <script>
      let slideIndex = 0;
      showSlides();

      function showSlides() {
        let i;
        let slides = document.getElementsByClassName("mySlides");
        let slides_ = document.getElementsByClassName("mySlides1");
        
	let dots = document.getElementsByClassName("dot");
        let dots_ = document.getElementsByClassName("dot1");
	
	for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
          slides_[i].style.display = "none";
        }
        slideIndex++;

        if (slideIndex > slides.length) {slideIndex = 1}
        for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
          dots_[i].className = dots_[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        slides_[slideIndex-1].style.display = "block";

        dots[slideIndex-1].className += " active";
        dots_[slideIndex-1].className += " active";
        
	setTimeout(showSlides, 2000); // Change image every 2 seconds
      }
    </script>
{% endblock %}
